<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iket.ecellapp2k17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/EcellAppTheme"
        >
        <activity
            android:name=".home.Home"
            >

        </activity>
        <activity android:name=".BQuizNew.view.BQuizActivity" />
        <activity android:name=".splash_screen.SplashScreen"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fb.fb_login">
            android:configChanges=
            "keyboard|keyboardHidden|screenLayout|screenSize|orientation"</activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46718d8d9197ffb1a01ebf20e1e4cdce7ced8b0a"
            />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <activity android:name=".login.view.LoginActivity" />
        <activity android:name=".otp_verify.view.OtpActivity" />
    </application>

</manifest>